{% load static %}
<footer class="section footer-classic context-dark bg-image footer" style="background: #2d3246;">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4"><a class="brand" href="https://oyodel.com"><img class="brand-logo-light"
              src="{% static 'media/logo.png' %}" alt="" width="140" height="37"
              srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
          <p>We are an award-winning creative agency, dedicated to the best result in web development, web design,
            promotion, business consulting, and marketing.</p>
          <!-- Rights-->
          <p class="rights"><span>©  </span><span
              class="copyright-year">2020</span><span> </span><span>Waves</span><span>. </span><span>All Rights
              Reserved.</span></p>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Contacts</h5>
        <dl class="contact-list">
          <dt>Address:</dt>
          <dd>Vill Bhatti-Khoula, P.O & Teh Jawalamukhi Distt Kangra H.P 176031</dd>
        </dl>
        <dl class="contact-list">
          <dt>email:</dt>
          <dd><a href="mailto:#">munish@oyodel.com</a></dd>
        </dl>
        <dl class="contact-list">
          <dt>phones:</dt>
          <dd><a href="tel:#">https://oyodel.com</a> <span>or</span> <a href="tel:#">https://www.oyodel.com</a>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</footer>